@import url(./root.css);

.page-about {
    font-family: var(--montserrat);
    width: 100%;
    padding:40px 7% 0 25%;
}

.page-about h1 {
margin-bottom: 30px;
font-weight: 700;
font-size: 25px;
}

.page-about h2 {
margin-top: 20px;
font-weight: 700;
font-size: 25px;
}