@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

body {
  padding: 30px 10%;
}

section {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: aquamarine;
}

.btn {
  display: block;
  padding: 20px 40px;
  border-radius: 3px;
  border: 1px rgb(173, 173, 173) solid;
  background-color: blanchedalmond;
  margin: 0 auto;
}